.loads {
    .main-section {
        display: flex;
        flex-direction: column;
        padding: var(--go-ui-spacing-lg) !important;
        gap: var(--go-ui-spacing-xl);
    }

    .figures {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-md);

        .key-figures {
            display: grid;
            grid-gap: var(--go-ui-spacing-lg);
            grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));

            .key-figure-item {
                border-radius: var(--go-ui-border-radius-sm);
                background-color: var(--go-ui-color-gray-20);
                padding: var(--go-ui-spacing-lg) var(--go-ui-spacing-md);
                height: 100%;
            }
        }
    }

    .load-table {
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-md);
        }
    }

    .filter-button {
        display: flex;
        gap: var(--go-ui-spacing-md);
        align-items: flex-end;
    }

    .popup {
        padding: var(--go-ui-spacing-lg) var(--go-ui-spacing-md);
    }
}