.status {
    &.success {
        --color-green: #0CA30C;
        --color-border: var(--color-green);
        --color-background: var(--color-green);
    }
    &.failed {
        --color-red: #D03B3B;
        --color-border: var(--color-red);
        --color-background: var(--color-red);
    }
    &.pending {
        --color-gold: #FAB219;
        --color-border: var(--color-gold);
        --color-background: var(--color-gold);
    }
    &.in-progress {
        --color-blue: #2A78D6;
        --color-border: var(--color-blue);
        --color-background: var(--color-blue);
    }
    &.on-retry {
        --color-purple: #4A3AA7;
        --color-border: var(--color-purple);
        --color-background: var(--color-purple);
    }
}
