
.transformation {
    
    .main-section {
        display: flex;
        flex-direction: column;
        padding: var(--go-ui-spacing-sm) !important;
        gap: var(--go-ui-spacing-xl);
    }

    .key-figures {
        display: flex;
        gap: var(--go-ui-spacing-sm);

        .key-figure-item {
            border-radius: var(--go-ui-border-radius-sm);
            background-color: var(--go-ui-color-gray-20);
        }
    }
}