* {
    box-sizing: border-box;
}


body {
    line-height: var(--go-ui-line-height-md);
    color: var(--go-ui-color-text);
    font-family: var(--go-ui-font-family-sans-serif);
    font-size: var(--go-ui-font-size-md);
    font-weight: var(--go-ui-font-weight-normal);
}

ul, ol, p {
    margin: 0;
}

